# Python virtual environments
venv/
.venv/
env/
*venv*/
venv*/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore temporary uploads
uploads/*
!uploads/.gitkeep

# Ignore massive raw dataset zip files and thousands of images
*.zip
data/**/*.jpg
data/**/*.jpeg
data/**/*.png

# Ignore system files
.DS_Store
Thumbs.db
